@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}


a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}



hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

/* Add this to your CSS file */
body {
    padding: 0;
    margin: 0;
}

section {
    padding: 20px 0;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

img {
    margin-bottom: 10px;
}

/* Ensure the container is centered and uses available screen space */
[data-testid="stAppViewContainer"] {
    max-width: 80%; /* Adjust this as needed */
    margin: auto;
}